* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 15px;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #02a0dd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    display: flex;
    height: 60%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 3%;
}

.card img {
    display: block;
    height: 58%;
    max-width: 100%;
    overflow: hidden;
}

.text h1 {
    font-size: 5rem;
}

p {
    font-size: 4rem;
}


